
/* font-family: 'Playfair', serif;
/* font-family: 'Poppins', sans-serif;

body {
  background-color: navy;
}
h1 {font-family: 'Playfair', serif;
  font-weight: bold;
}


p { font-family: 'Poppins', sans-serif;
  font-weight: normal;
}
